body {
    font-size: 20px;
    width: 100%;
    margin: 20px auto;
    margin-bottom: 20px;
    height: 100px;
    color: rgb(0, 12, 12);
    background: -webkit-linear-gradient(left, hsl(49, 91%, 46%), #dcd9b9);
    background: -o-linear-gradient(right, #d46912, #d1a11c);
    background: -moz-linear-gradient(right, #ec4150, #f1670a);
    background: linear-gradient(to right, #c5762c, #dccab9);
    background-color: #f78809;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}